.wishlist-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.wish-product-con{
    width: 20%;
}

.wish-heading{
    font-size: 24px;
    font-weight: 700;
    color: #282c3f;
}