

.text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 5% 0 5% 3%;
    max-height: 5em;
    font-weight: 700;
}

.row-base {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


@media (max-width:425px) {

    .row-base{
        flex-wrap: wrap;
    }

   
    .coloum-base {
        width: 50%;
    } 
    .text-banner-title{
       font-size: 1.2em; 
    }
}